@import "../../styles/variables.scss";

.skillsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.skillCard {
	margin: $size0;
	padding: $size1;
	border-radius: $size0;
	box-shadow: $shadow1px;
	text-align: center;
	font-weight: 600;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	img {
		max-width: 65px;
		flex-grow: 1;
		width: 100%;
		height: auto;
	}
	figcaption {
		margin-top: $size0;
	}
}
