@font-face {
    font-family: 'Manrope';
    src: url(./Manrope/Manrope-Light.woff2);
    font-weight: 300;
    font-display: fallback;
}

@font-face {
    font-family: 'Manrope';
    src: url(./Manrope/Manrope-Regular.woff2);
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: 'Manrope';
    src: url(./Manrope/Manrope-Medium.woff2);
    font-weight: 550;
    font-display: fallback;
}

@font-face {
    font-family: 'Manrope';
    src: url(./Manrope/Manrope-Bold.woff2);
    font-weight: 700;
    font-display: fallback;
}

@font-face {
    font-family: 'Manrope';
    src: url(./Manrope/Manrope-ExtraBold.woff2);
    font-weight: 900;
    font-display: fallback;
}