@import "../../../styles/variables.scss";

.desktop {
	display: flex;
	flex-direction: column;
	height: 100%;

	&__taskbar {
		z-index: 2;
		background-color: $darkestGrey;
		box-shadow: $shadow10px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__start {
			z-index: 1;
			background-color: $darkestGrey;
			border: none;
			color: $white;
			display: flex;
			align-items: center;
			padding: $size0;
			font-family: inherit;
			font-size: $size2;
			cursor: pointer;

			&:hover {
				background-color: $darkGreyTransparent;
				color: $whitePrimary;
			}
		}
		&__time {
			color: $white;
			padding: $size0;
		}
	}
	&__main {
		flex-grow: 1;
		background-color: $lightGrey;

		&__menu {
			background-color: $darkGrey;
			box-shadow: $shadow5px;
			margin: 0;
			animation: menu-flyin 0.1s linear forwards;
			width: fit-content;
			list-style: none;
			padding: 0;

			&__item {
				background-color: $darkGrey;
				width: 100%;
				border: none;
				color: $white;
				display: flex;
				align-items: center;
				padding: $size1;
				font-family: inherit;
				font-size: $size2;
				cursor: pointer;

				&:hover {
					background-color: $darkGreyTransparent;
					color: $whitePrimary;
				}
			}
		}
	}

	&__window {
		box-shadow: $shadow10px;
		border-radius: $size0;
		background-color: $whiteTransparent;
		backdrop-filter: blur(5px);
		position: absolute;
		overflow-y: auto;
		z-index: 3;
		animation: fadeInBottomEntrance 0.5s ease-in-out forwards;
		resize: both;
		scrollbar-width: thin;
		scrollbar-color: $secondary $lightGrey;

		&::-webkit-scrollbar {
			width: 11px;
		}
		&::-webkit-scrollbar-track {
			background-color: $lightGrey;
			border-radius: 0 $size0 $size0 0;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $secondary;
			border-radius: 0 $size0 $size0 0;
		}

		&__controls {
			background: $primary;
			background: $primaryGradient;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			cursor: move;
			position: sticky;
			top: 0;
			z-index: 4;

			button {
				cursor: pointer;
			}

			&__ctrl {
				background-color: inherit;
				border: none;
				color: $whitePrimary;
				display: flex;
				align-items: center;
				padding: $size0;
				font-family: inherit;
				font-size: $size2;
				user-select: none;

				&:hover {
					color: $white;
				}
			}
		}
	}
}

@keyframes menu-flyin {
	0% {
		transform: translateY(-1.5rem);
	}
	100% {
		transform: translateY(0);
	}
}
